/* ====== COLORS ======*/
/*
Dark grey: #444444;
Blue: #0072bc;
Drop Shadow: #ABADCC;
Light Grey: #ccc;
Teal: teal;

*/

/* ====== GLOBAL ======*/
body{
  margin: 0;
}

section{
  padding-bottom: 3em;
  border-bottom: 1px solid #444444;
  margin-top: 3em;
}

section:first-of-type{
  padding-bottom: 2em;
  margin-top: 0;
}

section img{
  max-width: 100%;
}

.content{
  margin-top: 7em;
  padding: 0 5em;
}

/*====TEXT STYLES===========*/

body{
  /*font-family: 'Nunito', sans-serif;*/
  font-family: 'Montserrat', sans-serif;
}
i{
  font-size: 3em;
}

h1, h2, h3, h4, h5, h6 {
  color: #444444;
}

h1 {
  font-size: 40px;
  font-weight: 800;
  margin: 0;
  margin-bottom: 10px;
}

h2 {
  font-size: 29px;
  font-weight: 800;
  margin: 0;
  margin-bottom: 10px;
}

h3 {
  font-size: 24px;
  font-weight: 400;
}


h4 {
  font-size: 20px;
  letter-spacing: -.01em;
  background-color: #0072bc;
  width: 100%;
  color: #fff;
  padding: 20px 0 20px 40px;
  font-weight: 800;
}

h5{
  font-size: 18px;
  font-weight: 400;
}

h6{
  font-size: 12px;
  font-weight: 400;
}

h6 a {
  color: #0072bc;
  text-decoration: none;
  border-bottom: 1px solid #0072bc;
  transition: color .5s ease-in-out;

}

a:hover {
  text-decoration: none;
}

.error {
  font-size: 14px;
  color: red;
  margin-top: -15px;
}

hr {
  border-bottom: 1px solid #0072bc;
  text-align: center;
  padding: 0 auto;
  /*margin: 0px 0 15px 0;*/
}

/*====LIST STYLES===========*/

ul {
  margin: 0;

}

/*====FORM STYLES===========*/
form {
  text-align: center;
  margin: 30px auto 20px auto;
  padding: 5em;
}

input {
  margin: 10px auto;
  padding-left: 10px;
  font-size: 16px;
  width: 100%;
  outline: none;
  border: none;
  border-radius: 4px;
  min-height: 42px;
  border: 1px #0072bc solid;
  background-color: rgb(204, 204, 204, .2);
  transition: all .5s ease-in-out;
}

input:focus {
  background-color: rgb(255, 255, 255, .95);
  border: 2px #0072bc solid;
  filter: drop-shadow(0px 3px 3px #ABADCC);
}

.border {
  border: 1px #0072bc solid;
}

.indicates-required {
  text-align: right;
  color: #ccc;
}

/*====BUTTON STYLES===========*/

.button {
  font-weight: 800;
  margin: 20px auto;
  width: 100%;
  font-size: 16px;
  border-radius: 4px;
  background-color: #0072bc;
  transition: color .75s ease-in-out;
  /*height: 42px;*/
  /*min-width: 250px;*/
  color: #fff;
  text-align: center;
  border: none;
  outline: none;
}

.button:hover {
  background-color: #ABADCC;
}


/*====COLOR HANDLING===========*/

.blue {
  background-color: #0072bc;
}

.greyblue {
  background-color: #ABADCC;
}


/* ================================================================*/
        /*LANDING PAGE STYLES*/
/* ================================================================*/


/* ====== LANDING PAGE LAYOUT ======*/
.landing {
    font-family: 'Nunito', sans-serif;
    background-image: url('/static/images/bg_1200.jpg');
    background-size: cover;
    background-position: top left;
    background-repeat: no-repeat;
    text-align: center;
    background-color: #325170;
}

.landing img {
    margin: 17% auto 0 auto;
    padding: 0 auto;
}

.landing main {
    margin: 0px auto 0px auto;
    padding: 0 auto;
}

.landing footer {
    text-align: center;
    margin: 0 auto;
    padding-top: 0;
    /*position: absolute;
    bottom: 0;
    left: auto;*/
}

.landing h1 {
    color: #fff;
    font-size: 3em;
    font-weight: 900;
}

.lighter {
    font-weight: 700;
    font-size: 80%;
}

.landing h6 {
    font-size: .85em;
    color: #fff;
    margin: 0 auto;
    padding: 0 auto;
    font-weight: lighter;
}

.landing .btn-landing {
    font-family: 'Nunito', sans-serif;
    background-color: rgba(204,204,204, 0.35);
    border-radius: 35px;
    min-height: 42px;
    margin: 14% 0 10% 0;
    padding: 8px 30px 8px 30px;
    border: 3px solid rgba(204,204,204, 0.65);
    transition: all .35s ease-in-out;
    color: #fff;
    font-size: 1.25em;
    font-weight: 400;
    text-shadow: none;
}

.landing .btn-landing:hover {
    background-color: rgba(204,204,204, 0.05);
    color: rgba(204,204,204, 0.85);
    border: 3px solid teal;
    /*filter: drop-shadow(0px 1px 3px rgba(204,204,204, 0.25));*/
}

.landing .btn-landing:active {
    color: rgba(204,204,204, 0.95);
    border: 3px solid rgba(204,204,204, 0.45);
}


@media screen and (max-width: 1045px) {
    .landing {
        background-image: url('/static/images/bg_1045.jpg');
    }
}

@media screen and (max-width: 560px) {
    .landing {
        background-image: url('/static/images/bg_560.jpg');
        margin: 30px;
    }
    .landing header {
        margin: 6% auto 0 auto;
    }
}

@media screen and (max-width: 380px) {
    .landing {
        background-image: url('/static/images/bg_380.jpg');
        margin: 15px;
    }
    img {
        width: 100%;
    }
    .landing header {
        margin: 6% auto 0 auto;
    }

}
/* ================================================================*/
        /* END LANDING PAGE STYLES*/
/* ================================================================*/

/* ================================================================*/
        /* NAV BAR STYLES */
/* ================================================================*/
.large-nav{
  width: 100%;
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #0072bc;
  padding: .5em;
}

.menu{
  display: flex;
  flex-direction: row;
  font-size: 16px;
  color: #f4eb42;
  margin-left: auto;
}

nav li a{
  color: #e3f4ff;
  font-size: 20px;
  /*transition: color 0.5s ease;*/
}

.greeting{
  /*margin-right: 30px;*/
  border-right: 2px solid #e3f4ff;
  padding-right: 25px;
}

.hmBut{
  color: #e3f4ff;
  font-size: 35px;
  margin: 0;
  transition: color 0.5s ease;
}

.menu-item:hover{
  box-sizing: border-box;
  cursor: pointer;
}

nav .hmBut:hover{
  box-sizing: border-box;
  color: #f4eb42;
}

.bg-steel {
  background-color: #0072bc;
}


@media screen and (max-width: 1050px) {

  .hmBut{
    font-size: 30px;
  }

  nav li a, nav li .hmBut{
    font-size: 16px;
  }

  .hmBut:hover{
    font-size: 30px;
  }

}

@media screen and (max-width: 770px) {

  .menu {
    align-items: unset;
    display: none;
  }

  /*.hamburger-icon{
    display: block;
    background: none;
    position: absolute;
    top: 0;
    right: 0;
    line-height: 45px;
    padding: 5px 15px 0px 15px;
    color: #999;
    border: 0;
    font-size: 1.4em;
    font-weight: bold;
    cursor: pointer;
    outline: none;
    z-index: 10000000000000;
  }*/

  .hamburger-icon{
    display: block;
    height: 45px;
    width: 45px;
    cursor: pointer;
    z-index: 900;
    margin-top: 6px;
    margin-right: 18px;
  }

  .ham-line{
    height: 5px;
    width: 35px;
    background-color: white;
    margin: 5px;
  }

  .cross{
    position: absolute;
    background: none;
    top: 0px;
    right: 0;
    padding: 7px 15px 0px 15px;
    color: white;
    border: 0;
    font-size: 5.5em;
    line-height: 65px;
    font-weight: bold;
    cursor: pointer;
    outline: none;
    margin-right: 15px;
    z-index: 10000000000000;
  }

  .glyphicon-home{
    color:white; 
    font-size:1.5em; 
    margin-top:5px; 
    margin:0 auto;
  }

  .small-nav {
    background-color: rgba(0, 114, 188, .85);
    display: block;
    height: 350px;
    width: 100%;
    padding-top: 35px;
  }

  .nav-btn-small {
    display: flex;
    flex-direction: column;
    font-size: 25px;
    height: 300px;
    margin: 0;
    padding: 0;
    text-align: right;
    width: 100%;
  }

}

/* ================================================================*/
        /* STUDENT DIRECTORY STYLES*/
/* ================================================================*/

aside{
  position: fixed;
  height: auto;
  top: 30%;
  z-index: 999;
}

.tab{
  text-transform: uppercase;
  overflow-wrap: break-word;
  max-width: 1.5em;
  padding-top: .2em;
  padding-right: .2em;
  padding-bottom: .3em;
  padding-left: .2em;
  height: auto;
  background-color: #0072bc;
  opacity: 85%;
  text-align: center;
  border-radius: 0 6px 6px 0;
}

.tab a h2{
  margin: 0;
  line-height: 1.1em;
  color: #FFF;
}

.tab i {
  color: #FFF;
}

#slide-out a{
  font-size: 1em;
}

#slide-out h2{
  text-align: center;
  margin: 1em auto;
}

/* ================================================================*/
        /* CLASS PAGE STYLES*/
/* ================================================================*/



.class-info{
  /* display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end; */
}

.instructor-blurbs{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.blurb{
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.instructor-img{
  /*width: 250px;
  height: 250px;*/
  width: 80%;
  min-width: 175px;
  border-radius: 50%;
  overflow: hidden;
  border: 1px solid #444444;
}

.instructor-img img{
  height: inherit;
}

.class{
  padding: 1em 5em;
}

.class section h2{
  text-align: center;
}

.title{
  text-align: left;
}


@media screen and (max-width: 800px) {

  .instructor-blurbs{
    flex-direction: column;
    /*justify-content: space-around;*/
    align-items: center;
  }
}

/* ================================================================*/
        /* PROFILE STYLES*/
/* ================================================================*/

.about{
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.headshot{
  width: 300px;
  height: 300px;
  overflow: hidden;
  border-radius: 50%;
}
.headshot img{
  max-width: 100%;
}
.about-text{
  width: 65%;
  padding: 2em;
}

.links ul{
  width: 100%;
  display: flex;
  flex-direction: row;
  /* justify-content: center; */
}
.links li{
  margin: 1em;
}

.projects{
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.project{
  width: 30%;
  z-index: 950;
}
.project img{
  max-width: 100%;
}

/* ================================================================*/
        /* PROJECT STYLES*/
/* ================================================================*/
header{
  height: 50vh;
  background-size: cover;
  background-position: center;
}

.hide {
  display: none;
}

.show {
  display: block;
}
