{% extends 'base.html' %}

{% block content %}
{% include 'partials/nav_bar.html' %}

<main class="content">
  <section class="about">

  <div class="headshot">
      <img src="{{profile.image.url}}" class="circle responsive-img" />
  </div>

    <div class="student-title">
      <h1>{{ student.first_name}} {{student.last_name}}</h1>
      <h2 class="ccc">"{{ profile.tag_line }}"</h2>

  <div class="links">
        <ul>
          <li><a href="{{profile.github_link}}"><i class="fab fa-github-square"></i></a></li>
          <li><a href="{{profile.linkedin_link}}"><i class="fab fa-linkedin"></i></a></li>
          <li><a href="{{profile.website_link}}"><i class="fas fa-globe"></i></a></li>
        </ul>
          {% if student.username == user.username and user.is_authenticated %}
   <a class="waves-effect waves-light btn" href="{% url 'edit_profile' %}"><i class="material-icons left far fa-edit"></i>Edit Profile</a>
  <!-- <a href="{% url 'edit_profile' %}"><button>Edit My Profile</button></a> -->
  {% endif %}
      </div>
    </div>
  </div>
</section>

<section class="about-me">
  <h2>A Bit More About Me</h2>

  <div class="about-text">

      <h3>My favorite snack is: <span class="about-answer">{{profile.favorite_snack}}</span></h3>
      <h3>My dream job is: <span class="about-answer">{{profile.dream_job}}</span></h3>
      <h3>I'm excited about: <span class="about-answer">{{profile.favorite_tech}}</span></h3>

      <div class="skills">
        <h3>
          {{profile.skills}}
        </h3>
      </div>
</section>


  <section class="projects">
    {% for project in projects %}

    <div class="card project">
      <div class="card-image">
        <img src="{{ project.screenshot.url }}">
      </div>
      <div class="card-content">
        <h3>{{project.title}}</h3>
      </div>
      <div class="card-action">
        <a href="{%url 'project_details' username=student.username title=project.title %}">Learn More</a>
      </div>
    </div>
    {% endfor %}
  </section>
</main>
{% include 'partials/student_directory.html' %}
{% endblock %}
