<!DOCTYPE html>
{% load staticfiles %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Developer Connection</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}"
  </head>
  <body>
    <nav>
       <ul>
        <li><a href="#">Home</a></li>
      {% if user.is_authenticated %}
        <li><a href="{% url 'logout' %}">Logout</a></li>
      {% else %}
        <li><a href="{% url 'login' %}">Login</a></li>
        <li><a href="{% url 'register' %}">Register</a></li>
      {% endif %}
      </ul>
    </nav>

      {% block content %}
      {% endblock %}
    <aside>
      <ul>
        <li><a href="#">Student Name</a></li>
      </ul>
    </aside>

  </body>
</html>
